---
permalink: /feed/index.xml
hidden: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>{{ metadata.title }}</title>
		<link>{{ metadata.url }}</link>
		<description>{{ metadata.description }}</description>
		<language>{{ metadata.language }}</language>
		<image>
			<title>{{ metadata.title }}</title>
			<link>{{ metadata.url }}</link>
			<url>{{ metadata.url_truncated }}/media/logo-social.png</url>
		</image>
		{%- for post in collections.all | reverse -%}
		{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
		{%- if loop.index0 < 25 %}
		<item>
			<title>{{ post.data.title }}</title>
			<link>{{ absolutePostUrl }}</link>
			<description><![CDATA[{% if post.templateContent %}{{ post.templateContent | truncate(1000, false, ' …') | htmlToAbsoluteUrls(absolutePostUrl) | safe }}{% else %}<p>{{ metadata.description }}</p>{% endif %}]]></description>
		</item>
		{%- endif -%}
		{%- endfor %}
	</channel>
</rss>