---
eleventyNavigation:
  key: Kontakt
  order: 4
layout: index.njk
title: Kontakt und Impressum

logo: /media/logo-alt.png
email: info@hhkaffee.com
website: /
twitter: https://twitter.com/hhkaffeecom
facebook: https://www.facebook.com/hhkaffeecom
---

<p class=meta>Dies sind die Kontaktdaten von HH Kaffee. Beachte die Seiten der einzelnen Cafés und Röstereien für deren Kontaktdaten.
<p>HH Kaffee<br>c/o <a href=https://meiert.com/>Jens Oliver Meiert</a><br>Bäckerbreitergang 18<br>20355 Hamburg<br><a href=tel:+49-157-50117717>0157-50117717</a>
<h2 id=websites>{{ metadata.title}} online</h2>
{% include 'partials/websites.njk' %}
<h2>Rechtliche Hinweise</h2>
<p>Verantwortlich für journalistisch-redaktionelle Inhalte gemäß §&nbsp;55 II RStV: Jens Oliver Meiert. Alle Angaben ohne Gewähr.
<p>Steuernummer: 48/157/00835.
<p>Zur Online-Streitbeilegung gemäß Art.&nbsp;14 Abs.&nbsp;1 ODRVO stellt die Europäische Kommission eine <a href=https://ec.europa.eu/consumers/odr/>Plattform</a> bereit.
<h3>Urheberrecht</h3>
<p>Alle Rechte vorbehalten.
<p>Die Logos und Fotos aufgeführter <a href="/cafes/">Cafés und Röstereien</a> sind Eigentum der jeweiligen Cafés und Röstereien.
<h3>Datenschutzerklärung</h3>
<p>Verantwortlich im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO): Jens Oliver Meiert.
<p>Diese Datenschutzerklärung gebraucht eine den Gepflogenheiten für Datenschutzerklärungen entsprechende formelle Sprache. Ihr seid auf unserer Website weiterhin sehr willkommen.
<h4>Ihre Rechte</h4>
<p>Unter den angegebenen Kontaktdaten können Sie jederzeit folgende Rechte ausüben:
<ul>
	<li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,
	<li>Berichtigung unrichtiger personenbezogener Daten,
	<li>Löschung Ihrer bei uns gespeicherten Daten,
	<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen,
	<li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und
	<li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben.
</ul>
<p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.
<p>Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden. Eine Liste der Aufsichtsbehörden (für den nicht-öffentlichen Bereich) mitsamt Anschrift finden Sie beim <a href=https://web.archive.org/web/20210528044255/https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html>Bundesbeauftragten für den Datenschutz</a>.
<h4>Zwecke der Datenverarbeitung</h4>
<p>Wir verarbeiten etwaige personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken. Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt. Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:
<ul>
	<li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,
	<li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,
	<li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,
	<li>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.
</ul>
<h4>Löschung oder Sperrung von Daten</h4>
<p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern etwaige personenbezogenen Daten daher nur solange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.
<h4>Verschlüsselung</h4>
<p>Zum Schutz Ihrer Daten werden diese über HTTPS übertragen.
<h4>Server-Logs</h4>
<p>Der Hoster dieser Website (<a href=https://all-inkl.com/PA68572347FA65">ALL-INKL.COM</a>) erhebt und speichert Informationen, die Ihr Browser automatisch übermittelt, in sogenannten Server-Log-Dateien. Diese umfassen:
<ul>
	<li>Hostname
	<li>IP-Adresse
	<li>Betriebssystem
	<li>Browser
	<li>Referrer-URL
	<li>Zeit der Serveranfrage
</ul>
<p>Wir haben mit ALL-INKL.COM einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen, in dem wir ALL-INKL.COM verpflichten, die Daten unserer Kunden zu schützen und sie nicht an Dritte weiterzugeben.
<p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
<p>Grundlage für die Datenverarbeitung ist Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
<p>In den uns zugänglichen Server-Statistiken werden IPs vollständig anonymisiert und die Log-Dateien nach 30 Tagen gelöscht.
<h4>E-Mail</h4>
<p>Wenn Sie uns per E-Mail kontaktieren, werden Ihre Angaben einschließlich der von Ihnen geteilten Daten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
<p>Die Verarbeitung der in der E-Mail eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO). Sie können diese Einwilligung jederzeit widerrufen; hierzu reicht eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
<p>Die von Ihnen in Ihrer E-Mail eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt. Zwingende gesetzliche Bestimmungen, insbesondere Aufbewahrungsfristen, bleiben unberührt.
<p>Für E-Mail benutzen wir Gmail und ProtonMail, jeweils zusätzlich abgesichert durch Zwei-Faktor-Authentifizierung. Beachten Sie <a href=https://policies.google.com/privacy>Googles</a> und <a href=https://protonmail.com/de/privacy-policy>ProtonMails Datenschutzerklärungen</a>.
<h4>VG Wort</h4>
<p>Diese Website setzt Session-Cookies der <a href=https://www.vgwort.de/>VG Wort</a> zur Messung von Textzugriffen ein; die VG Wort wiederum nutzt das »Skalierbare Zentrale Messverfahren« (SZM) der INFOnline GmbH für die Ermittlung statistischer Kennwerte zur Bestimmung der Kopierwahrscheinlichkeit von Texten. Die Messung erfolgt mit berechtigtem Interesse nach Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.
<p>Bei der Zugriffszahlenmessung werden anonyme Messwerte erhoben. Sie verwendet zur Wiedererkennung von Computersystemen entweder ein Session-Cookie oder eine Signatur, die aus verschiedenen automatisch übertragenen Informationen Ihres Browsers erstellt wird. IP-Adressen werden nur in anonymisierter Form verarbeitet. Zu keinem Zeitpunkt werden einzelne Nutzer identifiziert; Ihre Identität bleibt immer geschützt. Sie erhalten über das System keine Werbung.
<p>Session-Cookies sind kleine Informationseinheiten, die ein Anbieter im Arbeitsspeicher des Computers des Besuchers speichert. In einem Session-Cookie wird eine zufällig erzeugte eindeutige Identifikationsnummer abgelegt, die sogenannte Session-ID. Außerdem enthält ein Cookie Angaben über seine Herkunft und die Speicherfrist. Session-Cookies können keine anderen Daten speichern. Die VG Wort ermöglicht damit, dass ihre Autoren an den Ausschüttungen der VG Wort partizipieren, die die gesetzliche Vergütung für die Nutzungen urheberrechtlich geschützter Werke gemäß §&nbsp;53 UrhG sicherstellen. Wenn Sie an der Messung nicht teilnehmen möchten, können Sie unter <a href=https://optout.ioam.de/>optout.ioam.de</a> widersprechen.
<h4>Verschiedenes</h4>
<p>Einige Links auf dieser Website sind, um nicht nur auf Informationen und Produkte zu verweisen, sondern auch den Erwerb selbiger zu vereinfachen, sogenannte Affiliate-Links. Wenn Sie auf so einen Affiliate-Link klicken und über diesen Link einkaufen, erhalten wir von dem betreffenden Anbieter eine Provision. Für Sie verändert sich dadurch nicht der Preis.
<p>Diese Website verwendet die Google Maps API, um geographische Informationen visuell darzustellen. Bei der Nutzung von Google Maps werden von Google auch Daten über die Nutzung der Kartenfunktionen durch Besucher erhoben, verarbeitet und genutzt. Beachten Sie <a href=https://policies.google.com/privacy>Googles Datenschutzerklärung</a>.
<p>Sporadisch setzt diese Website <a href=https://sentry.io/>Sentry</a> ein, um die Befolgung von <a href=https://de.wikipedia.org/wiki/Content_Security_Policy>Sicherheitsrichtlinien</a> zu überprüfen. Dies dient der generellen Sicherheit Ihrer Daten wie auch der Bestätigung von Angaben dieser Datenschutzerklärung, und geschieht nur sporadisch, um sowohl Sicherheit als auch Datenschutz zu stärken. Wie bei anderen externen Diensten auch beachten Sie bei Fragen dazu, wie Sentry Daten verarbeitet, die <a href=https://sentry.io/privacy/>Datenschutzerklärung von Sentry</a>.
<h4>Änderungen</h4>
<p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung abzudecken, zum Beispiel bei der Einführung neuer Funktionen. Für Ihren erneuten Besuch gilt jeweils die neue Datenschutzerklärung.
<h4>Fragen</h4>
<p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person: Jens Oliver Meiert (Kontaktdaten obenstehend).