<!DOCTYPE html>
<html lang={{doc.locale}}>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  {% if doc.description %}<meta name=description content="{{doc.description}}">{% endif %}
  <meta name=twitter:card content=summary>
  <meta name=twitter:title content="{{doc.title}} · {{podspec.title}}">
  <meta name=twitter:description content="{{doc.html|striptags|truncate(180, end=' …')}}">
  <meta name=twitter:image content=https://hhkaffee.com{{g.static('/source/media/logo-social.png').url.path}}>
  <meta property=og:image content=https://hhkaffee.com{{g.static('/source/media/logo-social.png').url.path}}>
  <title>{{doc.title}} · {{podspec.title}}</title>
  <link rel=stylesheet href={{g.static('/source/setup/default.min.css').url.path}}>
  <link rel=alternate href={{g.url('/content/pages/feed.yaml').path}} type=application/rss+xml title="{{_('Alle Beiträge')}}">
  <link rel=preconnect href=https://maps.googleapis.com/ crossorigin>
  {% if doc != g.doc('/content/pages/index.md') %}<link rel=prerender href=/>{% endif %}
  <div id=notification>
    <p>{{_('Coronavirus: Bleibt vorsichtig und rücksichtsvoll. Zu den Daten auf HH Kaffee: Öffnungszeiten können aktuell eingeschränkt&nbsp;sein.')}}
  </div>
  <header>
    {% if doc != g.doc('/content/pages/index.md') %}<a href={{g.doc('/content/pages/index.md').url.path}}>{% endif %}<img src={{g.static('/source/media/logo.png').url.path}} alt="{{podspec.title}}">{% if doc != g.doc('/content/pages/index.md') %}</a>{% endif %}
    <nav>
      <ul>
        {% for page in g.docs('pages') if page != podspec.home %}
        <li>
          {% if doc == page %}
            {{page.titles('nav')|safe}}
          {% else %}
            <a href={{page.url.path}}>{{page.titles('nav')|safe}}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  {% if doc.logo %}{% if doc.website %}<a href={{doc.website}}>{% endif %}<img src="{{doc.logo}}" alt="Logo von {{doc.title}}." class=logo>{% if doc.website %}</a>{% endif %}{% endif %}
  <h1>{{doc.title}}</h1>
  <article>
    {% block main %}
      {% if doc.html %}
        {{doc.html|safe}}
      {% endif %}
    {% endblock %}
  </article>
  <div id=social>
    <p>{{_('Informiert bleiben? Folgt uns auf <a href=https://twitter.com/hhkaffeecom>Twitter</a> oder per')}}&nbsp;<a href={{g.url('/content/pages/feed.yaml').path}}>{{_('RSS-Feed')}}</a>.
  </div>
  <footer>
    {{podspec.description}}
    {% block update %}{% endblock %}
  </footer>