{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <ul>
    {% for cafe in g.docs('cafes')|sort(attribute='title') %}
    <li><a href={{cafe.url.path}}>{{cafe.title}}</a>{% if cafe.favorite %}&nbsp;<span>★</span>{% endif %}
    {% endfor %}
  </ul>

  {% set map_data = {
    'zoom': g.yaml('/content/shared/map.yaml?zoom'),
    'center': g.yaml('/content/shared/map.yaml?center'),
    'locations': {},
    'use_links': True,
  } %}
  {% for map_doc in g.docs('cafes') %}
    {% for location in map_doc.locations %}
      {% do map_data['locations'].update({
        map_doc.title: {
          'location': location,
          'url': map_doc.url.path,
        },
      }) %}
    {% endfor %}
  {% endfor %}

  {% with partial = map_data %}
    {% include '/partials/map/map.html' with context %}
  {% endwith %}
{% endblock %}
