{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <ul>
    {% for cafe in g.docs('cafes')|sort(attribute='title') %}
    <li><a href={{cafe.url.path}}>{{cafe.title}}</a>{% if cafe.favorite %}&nbsp;<span>★</span>{% endif %}
    {% endfor %}
  </ul>
  {% set map_data = {
    'zoom': 11,
    'center': {
      'lat': 53.57131,
      'lng': 9.94578,
    },
    'locations': {},
    'use_links': True,
  } %}
  {% for map_doc in g.docs('cafes') %}
    {% do map_data['locations'].update({
      map_doc.title: {
        'locations': map_doc.locations,
        'url': map_doc.url.path,
      },
    }) %}
  {% endfor %}
  {% with partial = map_data %}
    {% include '/partials/map/map.html' with context %}
  {% endwith %}
{% endblock %}
