{% extends "/views/base.html" %}

{% block main %}
  {% if doc.html %}
    {{doc.html|safe}}
  {% endif %}
  <div id=stage>
    <section>
      <h2>{{_('Letzte Neuzugänge')}}</h2>
      {% for posts in g.docs('cafes', order_by='date', reverse=True)[0:1] %}<a href={{posts.url.path}}><img src={{posts.logo}} alt="{{posts.title}}"></a>{% endfor %}
      <ul>
        {% for posts in g.docs('cafes', order_by='date', reverse=True)[0:5] %}
        <li><a href={{posts.url.path}}>{{posts.title}}</a>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>{{_('Favoriten')}}</h2>
      <a href={{g.url('/content/cafes/balz-und-balz.md').path}}><img src={{g.doc('/content/cafes/balz-und-balz.md').logo}} alt="{{g.doc('/content/cafes/balz-und-balz.md').title}}"></a>
      <ul>
        <li><a href={{g.url('/content/cafes/balz-und-balz.md').path}}>{{g.doc('/content/cafes/balz-und-balz.md').title}}</a>
        <li><a href={{g.url('/content/cafes/elbgold.md').path}}>{{g.doc('/content/cafes/elbgold.md').title}}</a>
        <li><a href={{g.url('/content/cafes/hunt.md').path}}>{{g.doc('/content/cafes/hunt.md').title}}</a>
        <li><a href={{g.url('/content/cafes/nord-coast.md').path}}>{{g.doc('/content/cafes/nord-coast.md').title}}</a>
        <li><a href={{g.url('/content/cafes/stockholm-espresso-club.md').path}}>{{g.doc('/content/cafes/stockholm-espresso-club.md').title}}</a>
      </ul>
    </section>
    <section>
      <h2>{{_('Neuigkeiten und Meinungen')}}</h2>
      <ul>
        {% for posts in g.docs('posts', order_by='date', reverse=True)[0:3] %}
        <li><a href={{posts.url.path}}>{{posts.title}}</a> · {{posts.html|striptags|truncate(120, end=' …')}}
        {% endfor %}
      </ul>
      <p>⚐ <a href={{g.url('/content/pages/posts.md').path}}>{{_('Aller Schnack')}}</a>
    </section>
  </div>
  {% set map_data = {
    'zoom': 12,
    'center': {
      'lat': 53.57029,
      'lng': 9.97448,
    },
    'locations': {},
    'use_links': True,
  } %}
  {% set all_items = (g.collection('cafes').docs() | list) %}
  {% for map_doc in all_items %}
    {% do map_data['locations'].update({
      map_doc.title: {
        'locations': map_doc.locations,
        'url': map_doc.url.path,
      },
    }) %}
  {% endfor %}
  {% with partial = map_data %}
    {% include '/partials/map/index.html' with context %}
  {% endwith %}
{% endblock %}

{% block update %}
  <br><span>{{_('Letzte Aktualisierung:')}} {{g.date()|date(format='d. MMMM YYYY')}}</span>
{% endblock %}