{% extends "/views/base.html" %}

{% block main %}
  {{doc.html|safe}}
  <p>
    {%- if doc.coffee %}{{_('Filterkaffee ab')}} {{doc.coffee}}&nbsp;€ · {% endif %}
    {%- if doc.espresso %}{{_('Espresso')}} {{doc.espresso}}&nbsp;€ · {% endif %}
    {{-_('WLAN:')}} {{doc.internet}}
    {%- if doc.favorite %} · HH-Kaffee-Favorit&nbsp;★{% endif %}
  <h2 id=websites>{{doc.title}} {{_('online')}}</h2>
  <ul>
    {% if doc.website %}
      <li><a href={{doc.website}}>{{_('Website')}}</a>
    {% endif %}
    {% if doc.twitter %}
      <li><a href={{doc.twitter}}>{{_('Twitter')}}</a>
    {% endif %}
    {% if doc.facebook %}
      <li><a href={{doc.facebook}}>{{_('Facebook')}}</a>
    {% endif %}
    {% if doc.instagram %}
      <li><a href={{doc.instagram}}>{{_('Instagram')}}</a>
    {% endif %}
    {% if doc.email %}
      <li><a href=mailto:{{doc.email}}>{{_('E-Mail')}}</a>
    {% endif %}
  </ul>
  {% if doc.views%}
    <div id=views>
      {% for view in doc.views %}
      <img src={{g.static('/source/media/' + view.image).url.path}} alt="{{_(view.title)}}">
      {% endfor%}
    </div>
  {% endif%}
  {% if doc.locations %}
    <h2 id=locations>{{_('Adressen und Öffnungszeiten')}}</h2>
    <ul>
      {% for location in doc.locations %}
      <li>
        <p><a href=https://www.google.de/maps/place/{{location.address|replace('<br>', ', ')|replace(' ', '%20')}}>{{location.address|safe}}</a>
        {%- if location.phone -%}
        <br><a href=tel:+49-40-{{location.phone|safe}}>040-{{location.phone|safe}}</a>
        {% endif %}
        {% if location.hours %}
        <p>{{location.hours|safe}}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% set map_data = {
    'zoom': g.yaml('/content/shared/map.yaml?zoom'),
    'center': g.yaml('/content/shared/map.yaml?center'),
    'locations': {},
  } %}
  {% for location in doc.locations %}
    {% do map_data['locations'].update({
      doc.title: {
        'location': location,
        'url': doc.url.path,
      },
    }) %}
  {% endfor %}

  {% with partial = map_data %}
    {% include '/partials/map/map.html' with context %}
  {% endwith %}
  <ul class=meta>
    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}
    {% if prev_doc %}
      <li>←&nbsp;<a href={{prev_doc.url.path}}>{{prev_doc.title}}</a>
    {% endif %}
    {% if next_doc %}
      <li><a href={{next_doc.url.path}}>{{next_doc.title}}</a>&nbsp;→
    {% endif %}
  </ul>
{% endblock %}
