<div id=map></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {
        lat: 53.57029,
        lng: 9.97448
      }
    });
    setMarkers(map);
  }

  var venues = [
  {% set entries = collections.locations -%}
  {%- for entry in entries | sortByTitle -%}
    {%- set locations = entry.data.locations -%}
    {%- for location in locations | sort -%}
    ['{{ entry.data.title }}', {{ location.coordinates }}, '{{ entry.url }}'],
    {% endfor -%}
  {%- endfor -%}
  ];

  function setMarkers(map) {
    for (var i = 0; i < venues.length; i++) {
      var venue = venues[i];
      var marker = new google.maps.Marker({
        position: {lat: venue[1], lng: venue[2]},
        map: map,
        title: venue[0],
        url: venue[3]
      });

      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = this.url;
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgBcUrt1NB0yfwUE715cEdCrtDvzICoz8&callback=initMap&language=de" defer></script>