<ul>
	{% if website %}
	<li><a href="{{ website }}">Website</a>
	{%- endif -%}
	{% if twitter %}
	<li><a href="{{ twitter }}">Twitter</a>
	{%- endif -%}
	{% if facebook %}
	<li><a href="{{ facebook }}">Facebook</a>
	{%- endif -%}
	{% if instagram %}
	<li><a href="{{ instagram }}">Instagram</a>
	{%- endif -%}
	{% if email %}
	<li><a href="mailto:{{ email }}">E-Mail</a>
	{%- endif %}
</ul>