---
date: Last Modified
---
<!DOCTYPE html>
<html lang=de>
	<!-- htmlmin:ignore --><head><!-- htmlmin:ignore -->
		<title>{% if title %}{{ title }} · {% endif %}{{ metadata.title }}</title>
		<!-- <link rel=icon href=/favicon.ico> -->
		<link rel=stylesheet href=/setup/default.min.css>
		<link rel=alternate href=/feed/ type=application/rss+xml title="{{ metadata.title }}">
		<link rel=preconnect href=https://maps.googleapis.com/ crossorigin>
		<meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width">
		<meta name=theme-color content=#fff>
		<meta name=twitter:card content=summary_large_image>
		<meta property=og:title content="{% if title %}{{ title }} · {% endif %}{{ metadata.title }}">
		{% if description %}<meta property="og:description" name="description" content="{{ description | truncate(150, false, ' …') }}">{% endif %}
		<meta property="og:image" content="{{ metadata.url }}media/logo-social.png">
	<!-- htmlmin:ignore --><body><!-- htmlmin:ignore -->
		<div id=notification>
			<p>HH Kaffee macht aktuell Pause. ({% if page.url != '/schnack/hh-kaffee-daten-und-fakten/' %}<a href=/schnack/hh-kaffee-daten-und-fakten/>{% endif %}Am Projekt interessiert?{% if page.url != '/schnack/hh-kaffee-daten-und-fakten/' %}</a>{% endif %})
		</div>
		<header>
			{% if page.url != '/' %}<a href={{ '/' | url }}>{% endif %}<img src=/media/logo.png alt="{{ metadata.title }}">{% if page.url != '/' %}</a>{% endif %}
			<nav>
				<ul>
					{%- for entry in collections.all | eleventyNavigation %}
					<li>{% if entry.url != page.url %}<a href={{ entry.url | url }}>{% endif %}{{ entry.title | safe }}{% if entry.url != page.url %}</a>{% endif %}
					{%- endfor %}
				</ul>
			</nav>
		</header>
		{% if logo %}{% if website %}<a href={{ website }}>{% endif %}<img src="{{ logo }}" alt="Logo von {{ title }}." class=logo>{% if website %}</a>{% endif %}{% endif %}
		<article>
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</article>
		<div id=social>
			<p>Informiert bleiben? Folgt uns per <a href=/feed/>RSS-Feed</a> oder auf <a href=https://twitter.com/hhkaffeecom>Twitter</a>.
		</div>
		<footer>
			{{ metadata.description }}
			{% if page.url == '/' %}<br><span>Letzte Aktualisierung: {% today %}</span>{% endif -%}
			{% if vg_wort %}<img src=https://vg07.met.vgwort.de/na/{{ vg_wort }} alt="" id=fd-vg-wort>{% endif %}
		</footer>