---
date: Last Modified
---
<!DOCTYPE html>
<html lang=de>
	<meta charset=utf-8>
	<meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width">
	{% if description %}<meta name=description content="{{ description | truncate(150, false, ' …') }}">{% endif %}
	<meta name=twitter:card content=summary>
	<meta name=twitter:title content="{% if title %}{{ title }} · {% endif %}{{ metadata.title }}">
	<meta name=twitter:description content="{{ (description or metadata.description) | truncate(150, false, ' …') }}">
	<meta name=twitter:image content={{ metadata.url }}media/logo-social.png>
	<meta property="og:image" content="{{ metadata.url }}media/logo-social.png">
	<title>{% if title %}{{ title }} · {% endif %}{{ metadata.title }}</title>
	<link rel=stylesheet href=/setup/default.min.css>
	<link rel=alternate href={{ metadata.feed.path | url }} type=application/atom+xml title="{{ metadata.title }}">
	<link rel=preconnect href=https://maps.googleapis.com/ crossorigin>
	{% if page.url != '/' %}<link rel=prerender href=/>{% endif %}
	<header>
		{% if page.url != '/' %}<a href={{ '/' | url }}>{% endif %}<img src=/media/logo.png alt="{{ metadata.title }}">{% if page.url != '/' %}</a>{% endif %}
		<nav>
			<ul>
				{%- for entry in collections.all | eleventyNavigation %}
				<li>{% if entry.url != page.url %}<a href={{ entry.url | url }}>{% endif %}{{ entry.title | safe }}{% if entry.url != page.url %}</a>{% endif %}
				{%- endfor %}
			</ul>
		</nav>
	</header>
	{% if logo %}{% if website %}<a href={{ website }}>{% endif %}<img src="{{ logo }}" alt="Logo von {{ title }}." class=logo>{% if website %}</a>{% endif %}{% endif %}
	<article>
		<h1>{{ title }}</h1>
		<!-- Beware of code entropy -->
		{{ content | safe }}
	</article>
	<div id=social>
		<p>Informiert bleiben? Folgt uns per <a href={{ metadata.feed.path | url }}>RSS-Feed</a> oder auf&nbsp;<a href=https://twitter.com/hhkaffeecom>Twitter</a>.
	</div>
	<footer>
		{{ metadata.description }}
		{% if page.url == '/' %}<br><span>Letzte Aktualisierung: {{ page.date | localizedDate }}</span>{% endif -%}
		{% if vg_wort %}<img src=https://vg07.met.vgwort.de/na/{{ vg_wort }} alt="" id=fd-vg-wort>{% endif %}
	</footer>