# Startup Routine
AddCharset utf-8 .css
AddCharset utf-8 .js
AddCharset utf-8 .txt
AddCharset utf-8 .xml
AddDefaultCharset utf-8
AddOutputFilterByType DEFLATE application/javascript application/pdf font/eot font/otf font/ttf image/svg+xml image/vnd.microsoft.icon image/x-icon text/css text/html text/javascript text/plain
AddType font/eot .eot
AddType font/otf .otf
AddType font/ttf .ttf
AddType font/woff .woff
AddType font/woff2 .woff2
CheckSpelling On
ContentDigest On
DefaultLanguage de
ExpiresActive On
ExpiresByType application/javascript A129600
ExpiresByType font/eot A604800
ExpiresByType font/otf A604800
ExpiresByType font/ttf A604800
ExpiresByType font/woff A604800
ExpiresByType font/woff2 A604800
ExpiresByType image/gif A604800
ExpiresByType image/jpeg A604800
ExpiresByType image/png A604800
ExpiresByType image/svg+xml A604800
ExpiresByType image/vnd.microsoft.icon A604800
ExpiresByType image/x-icon A604800
ExpiresByType text/css A129600
ExpiresByType text/html A10
ExpiresByType text/javascript A129600
FileETag All
Header always set X-Content-Type-Options nosniff
Header always set X-Frame-Options SAMEORIGIN

<FilesMatch "\.(html|php)$">
	# Header always set Content-Security-Policy "default-src 'self'"
	Header always set Feature-Policy "camera 'none'; microphone 'none'; payment 'none'"
	Header always set Referrer-Policy "strict-origin-when-cross-origin"
	Header always set X-XSS-Protection "1; mode=block"
</FilesMatch>

# Course Calibration
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on [OR]
	RewriteCond %{HTTP_HOST} !^hhkaffee\.com$ [NC]
	RewriteRule ^ https://hhkaffee.com%{REQUEST_URI} [R=301,L]
</IfModule>

# Course Alterations: P1
Redirect 301 /apple-touch-icon-precomposed.png https://hhkaffee.com/apple-touch-icon.png
Redirect 301 /cafes/kopiba/ https://hhkaffee.com/cafes/deathpresso/
Redirect 301 /cafes/less-political/ https://hhkaffee.com/cafes/hermetic/
Redirect 301 /roestereien/ https://hhkaffee.com/cafes/
Redirect 301 /roestereien/becking-kaffee/ https://hhkaffee.com/cafes/becking-kaffee/
Redirect 301 /roestereien/benvenuto/ https://hhkaffee.com/cafes/benvenuto/
Redirect 301 /roestereien/black-delight/ https://hhkaffee.com/cafes/black-delight/
Redirect 301 /roestereien/carroux/ https://hhkaffee.com/cafes/carroux/
Redirect 301 /roestereien/classic-caffee/ https://hhkaffee.com/cafes/
Redirect 301 /roestereien/copenhagen-coffee-lab/ https://hhkaffee.com/cafes/copenhagen-coffee-lab/
Redirect 301 /roestereien/die-roesterei/ https://hhkaffee.com/cafes/die-roesterei/
Redirect 301 /roestereien/el-rojito/ https://hhkaffee.com/cafes/el-rojito/
Redirect 301 /roestereien/elbgold/ https://hhkaffee.com/cafes/elbgold/
Redirect 301 /roestereien/hermetic/ https://hhkaffee.com/cafes/hermetic/
Redirect 301 /roestereien/hunt-coffee-roasters/ https://hhkaffee.com/cafes/hunt-coffee-roasters/
Redirect 301 /roestereien/kaffeeroesterei-burg/ https://hhkaffee.com/cafes/kaffeeroesterei-burg/
Redirect 301 /roestereien/katelbach/ https://hhkaffee.com/cafes/katelbach/
Redirect 301 /roestereien/kopiba/ https://hhkaffee.com/cafes/deathpresso/
Redirect 301 /roestereien/maya-kaffeeroesterei/ https://hhkaffee.com/cafes/maya-kaffeeroesterei/
Redirect 301 /roestereien/milch/ https://hhkaffee.com/cafes/milch/
Redirect 301 /roestereien/nord-coast-coffee-roastery/ https://hhkaffee.com/cafes/nord-coast-coffee-roastery/
Redirect 301 /roestereien/playground-coffee/ https://hhkaffee.com/cafes/playground-coffee/
Redirect 301 /roestereien/public-coffee-roasters/ https://hhkaffee.com/cafes/public-coffee-roasters/
Redirect 301 /roestereien/speicherstadt-kaffeeroesterei/ https://hhkaffee.com/cafes/speicherstadt-kaffeeroesterei/
Redirect 301 /roestereien/surf-shop-roastery/ https://hhkaffee.com/cafes/surf-shop-roastery/
Redirect 301 /roestereien/teikei/ https://hhkaffee.com/cafes/teikei/
Redirect 301 /roestereien/torrefaktum/ https://hhkaffee.com/cafes/torrefaktum/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-april-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-april-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-august-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-august-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-august-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-august-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-dezember-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-dezember-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-februar-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-februar-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-februar-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-februar-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-januar-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-januar-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-januar-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-januar-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-juli-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-juli-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-juli-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-juli-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-juni-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-juni-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-maerz-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-maerz-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-maerz-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-maerz-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-november-2018/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-november-2018/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-november-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-november-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-oktober-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-oktober-2019/
Redirect 301 /schnack/zur-lage-des-kaffee-in-hamburg-im-september-2019/ https://hhkaffee.com/schnack/zur-lage-des-kaffees-in-hamburg-im-september-2019/

# Course Alterations: P2
RedirectMatch 301 /artikel/(.*) https://hhkaffee.com/schnack/$1
RedirectMatch 301 /produkte/(.*) https://hhkaffee.com/schnack/$1
RedirectMatch 301 /wissen/(.*) https://hhkaffee.com/schnack/$1

# Course Alterations: P3
Redirect 302 /feed/index.html https://hhkaffee.com/feed/index.xml

# Emergency
ErrorDocument 401 /fehler/
ErrorDocument 403 /fehler/
ErrorDocument 404 /fehler/
ErrorDocument 500 /fehler/